<div class="show">
<center>
<table style="width:50%">
  <tr>
    <th><H1><%=@book.title %></h1></th>
  </tr><tr></tr>
  <tr>
    <td><center><%= @book.description %></center></td>
  </tr><tr></tr>
  <tr>
    <td><center>This book is priced at: <%= @book.price %> euro's</center></td>
  </tr><tr></tr>
  <tr>
    <td><center><%= link_to "Return to book list", books_path %><center></td>
  </tr>
</table>
</center>
</div>
